/*
*Anabel David 2014
*/
body{
	background-color: #2a41b1;
}
#container{
	text-align:center;
	max-width:90%;
	max-height:90%;
	background-color: #ffa500;
}
/*Clock */
#clock{
	background-color:#FFA500;	
}
#canClock{
	float: left;
	width: 90%;
	height: auto;
	margin: auto;
}
#clockControls{
	float: left;
	width: 9%;
	height: auto;
	margin: auto;
	background-color: black;
}
/*infobox*/
#infoBox{
	background-color: #000000;
	width: 100%;
	margin: auto;
	
}
#periode{
	text-align:center;
	background-color:#FFD700;
	width:50%;
	float:left;
}
#canPeriode{
	width:50%;
	float:left;
}
.sidebox{
	text-align:center;
	background-color:#FFD700;
	width:25%;
	float:left;
	margin: auto;
}
.btnPeriode{
	width: 25%;
	float:left;
	margin: auto;
}
/* boutons controles*/
#controls{
	display:inline-block;
	float: left;
	width: 100%;
}
.operations{
	display:inline-block;
	width: 32%;
	float: left;
	margin: auto;
}
.btnOps{
	width: 48%;
	float:left;
	margin: auto;
}

/* boutons webiopi */
#webiopi{
	display: inline-block;
	float:left;
}
button {
	display: block;
	float: right;
	margin: 5px 5px 5px 5px;
	height: 45px;
	width: auto;/*160px;*/
	font-size: 24pt;
	font-weight: bold;
	color: #101010;
}

input[type="range"] {
	display: block;
	width: 160px;
	height: 45px;
}


#footer{
	background-color:#FFA500;
	clear:both;
	text-align:center;
}
/* general elements*/
img, canvas{
	display: inline-block;
	max-width:100%;
	height:auto;
	background-color: #101010;
}

h1 {
	margin-bottom:0;
}

